body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#btn {
  cursor: pointer;
  color: #2d9cdb;
  background-color: white;
  border: none;
  font-size: 36px;
}
#btn:hover {
  background-color: RoyalBlue;
}
#btn:disabled {
  background-color: RoyalBlue;
}
